function Paddle.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 3
push constant 5
pop this 4
push constant 0
pop this 2
push pointer 0
call Paddle.showPaddle 1
pop temp 0
push pointer 0
return
function Paddle.unLoad 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Paddle.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push this 3
add
push this 1
push this 4
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Paddle.showPaddle 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push pointer 0
call Paddle.draw 1
pop temp 0
push constant 0
return
function Paddle.hidePaddle 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Paddle.draw 1
pop temp 0
push constant 0
return
function Paddle.paddleDirection 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Paddle.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Paddle.getRight 0
push argument 0
pop pointer 0
push this 0
push this 3
add
return
function Paddle.movePaddle 0
push argument 0
pop pointer 0
push this 2
push constant 1
eq
not
if-goto IF_FALSE_0
push pointer 0
call Paddle.hidePaddle 1
pop temp 0
push this 0
push constant 4
sub
pop this 0
push this 0
push constant 0
lt
not
if-goto IF_FALSE_2
push constant 0
pop this 0
goto IF_END_3
label IF_FALSE_2
label IF_END_3
push pointer 0
call Paddle.showPaddle 1
pop temp 0
goto IF_END_1
label IF_FALSE_0
label IF_END_1
push this 2
push constant 2
eq
not
if-goto IF_FALSE_4
push pointer 0
call Paddle.hidePaddle 1
pop temp 0
push this 0
push constant 4
add
pop this 0
push this 0
push this 3
add
push constant 511
gt
not
if-goto IF_FALSE_6
push constant 511
push this 3
sub
pop this 0
goto IF_END_7
label IF_FALSE_6
label IF_END_7
push pointer 0
call Paddle.showPaddle 1
pop temp 0
goto IF_END_5
label IF_FALSE_4
label IF_END_5
push constant 0
return
